<div class="wrapper">
  <div class="container">
    <div class="box">
      <form [formGroup]="form" (ngSubmit)="submit()">
        <div class="row" style="width: 100%">
          <select class="selectStyle col-12 col-xl-6" formControlName="first" name="first" id="1">
            <option *ngFor="let item of crypto; let i = index" [ngValue]="i">{{item?.asset_id}}</option>
          </select>

          <select class="selectStyle  col-12 col-xl-6" formControlName="second" name="second" id="2">
            <option *ngFor="let item of fiat; let i = index" [ngValue]="i">{{item?.asset_id}}</option>
          </select>
        </div>

        <div class="btn_box">
          <button type="submit" class="btn btn-secondary">Subscribe</button>

          <button type="button" class="btn btn-secondary" (click)="stopSocket()">Unsubscribe</button>
        </div>
      </form>
    </div>

    <div class="marketData">
      <h6>Market data:</h6>
      <div class="row">
        <div class="col-12 col-md-4 item">Symbol:
          {{msg ? msg?.asset_id_base + '/' + msg?.asset_id_quote : 'loading'}}
        </div>
        <div class="col-12 col-md-4 item">
          Price:
          {{msg ? msg?.rate : 'loading'}}
        </div>
        <div class=" col-12 col-md-4 item">
          Time:
          {{msg ? (msg?.time | date: 'medium') : 'loading'}}
        </div>
      </div>
    </div>

    <app-canvas [param]="canvasData ? canvasData : 'BTC_USD'"></app-canvas>

  </div>

</div>
